body {
background-color: #7474cc;
}
h1 {
    background-color: #8D8DE5;
    border-radius: 5px;
}


ul {
    list-style: none;
    background: ;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: #8D8DE5;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);}

ul li ul.drop li {
    display: block;
}

ul li ul.drop {
    width: 100%;
    background: rgb(198, 156, 92);
    position: absolute;
    display: none;
}

ul li a:hover {
    background-color: #B3B3EE;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
}

ul li:hover ul.drop {
    display: block;
}

.border {
    padding: 10px;
    border: 2px solid lightblue; 
    margin: 10px 0; 
    border-radius: 10px;
    background-color: #8D8DE5;
}
